# Enable vi keybindings.
set editing-mode vi

# Disable delay of vi escape.
# This setting make vi command keymap disable, so commented out.
# set keyseq-timeout 5

# Set the cursor shape depending on the current vi mode.
set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e[2 q\2"
set vi-ins-mode-string "\1\e[6 q\2"

set keymap vi-command
"ciw": "lbcw"
"diw": "lbdw"
"yiw": "lbyw"
"ciW": "lBcW"
"diW": "lBdW"
"yiW": "lByW"

set keymap vi-insert
"\C-l": clear-screen
